---
import Layout from '../layouts/Layout.astro';
import CalculatorForm from '../components/CalculatorForm.astro';
import ImageColumn from '../components/ImageColumn.astro';
---

<Layout title="Calculadora del 4 x 1000 - Solo Colombia">
	<main class="page__layout">
		<div class="page__content">
			<div class="page__col page__col--calculator">
				<CalculatorForm />
			</div>
			<div class="page__col page__col--image">
				<ImageColumn />
			</div>
		</div>
	</main>
</Layout>

<script>
	const currencyFormatter = new Intl.NumberFormat('es-CO', {
			style: 'currency',
			currency: 'COP',
			maximumFractionDigits: 10
	});

	const calculateTax = (total: number) => {
		const tax = ( total * 4 ) / 1000;
		const taxFixed = parseFloat(tax.toFixed(2));
		const spanTax = document.querySelector('#tax') as HTMLInputElement | null;
		spanTax.innerHTML = `${currencyFormatter.format(taxFixed)}`;
	}

	const showAlert = (numberLength: number) => {
		const alert = document.querySelector('#alert') as HTMLElement | null;
		
		if ( numberLength > 11 && !alert.classList.contains('show') ) alert.classList.add('show');
		if ( numberLength <= 11  && alert.classList.contains('show') ) alert.classList.remove('show');
	}

	const totalInput = document.querySelector('#pesos') as HTMLInputElement | null;
	totalInput.focus();

	totalInput.addEventListener('keyup', (event) => {
		// @ts-ignore
		const totalString = event.target.value;
		const totalFloat = parseFloat(totalString);

		// Limit alert
		showAlert(totalString.length);

		if ( !isNaN(totalFloat) && totalString.length <= 11 ) {
			const spanTotal = document.querySelector('#total') as HTMLInputElement | null;
			spanTotal.innerHTML = `${currencyFormatter.format(totalFloat)}`;
			calculateTax(totalFloat);
		}
	});
</script>

<style>
	.page__layout {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding-top: .5rem;
		min-height: 100vh;
		width: 100%;
	}

	.page__content {
		align-items: center;
		background-color: var(--color-light);
		box-shadow: 0 0 15px var(--color-primary-dark);
		border-radius: .5rem;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 96%
	}

	.page__col {
		flex: 1 1 100%;
		text-align: center;
	}

	@media (min-width: 768px) {
		.page__layout {
			justify-content: center;
			padding-top: 0;
		}

		.page__content {
			width: 700px;
		}

		.page__col {
			flex: 1 1 50%;
		}

		.page__col--calculator {
			order: 1;
			text-align: left;
		}

		.page__col--image {
			order: 2;
		}
		.page__col--image > img {
			height: 300px;
		}
	}

	@media (min-width: 991px) {
		.page__content {
			width: 750px;
		}
	}
</style>
