<img src="/assets/images/taxes.jpg" alt="Tax" height="400" class="image">

<ul class="page__social">
  <li>
    <a href="https://github.com/luchoweb/calculate-4x1000" target="_blank" rel="noopener noreferrer" title="GitHub">
      <img src="/assets/images/github-icon.png" alt="github" height="25">
    </a>
  </li>

  <li>
    <a href="https://www.linkedin.com/in/luchowebdev" target="_blank" rel="noopener noreferrer" title="LinkedIn">
      <img src="/assets/images/linkedin-icon.png" alt="linkedin" height="25">
    </a>
  </li>

  <li>
    <a href="https://www.freepik.com/free-vector/monthly-expense-planning-reminder-appointment-payment-deadline-worker-with-timetable-organizer-schedule-countdown-payday-vector-isolated-concept-metaphor-illustration_12470255.htm#query=taxes&position=5&from_view=search" target="_blank" rel="noopener noreferrer" title="Vector by Freepik">
      <img src="/assets/images/freepik-icon.png" alt="freepik" height="25">
    </a>
  </li>
</ul>

<style>
  .image {
		height: 200px;
	}

	.page__social {
		align-items: center;
		display: flex;
		gap: 1rem;
		list-style: none;
		justify-content: center;
		margin: 1rem 0 2rem 0;
		padding: 0;
	}

	@media (min-width: 768px) {
		.image {
			height: 300px;
		}

		.page__social {
			margin-bottom: 0;
		}
	}
</style>